# Dependency directories (remove the comment below to include it)
vendor/
.DS_Store
**/.DS_Store
/hugo/autobot/json
**/sitedata.sqlite
**/aigc_status.json
**/.agents
**/.claude
**/skills-lock.json
**/autobot