# Dependency directories (remove the comment below to include it)
vendor/
.DS_Store
**/.DS_Store
/hugo/autobot/json
**/sitedata.sqlite
**/aigc_status.json
**/autobot
/hugo/poker/demo_dashboard
/hugo/poker/sitebulkops
/hugo/poker/keywordmonitor
hugo/poker/keyword_monitor_list.txt
hugo/poker/siteops_setting.txt
hugo/poker/siteops_submit.log
/hugo/poker/topicmonitor
hugo/poker/topic_monitor_list.txt
hugo/poker/editor_okx_allpost_list.txt
hugo/poker/editor_poker_allpost_list.txt
hugo/poker/install.lock
/hugo/poker/json
/hugo/poker/json
/hugo/poker/pokerjson
/hugo/poker/seodata/json
